body {
/*      margin: 0;
      padding: 0;*/
      width: 100%;
      height:100%;

}



/*.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}*/

.titlefont{
      font-family:Segoe UI;
}
#nav{
      width:100%;
      position:fixed;
}
nav {
 /*     position: fixed;*/
      width: 100%;
      line-height: 80px;
      text-decoration: none;
      /*border:1px solid green;*/
}

nav ul {
      line-height: 30px;
      list-style: none;
      background: #fff;
      /*overflow: hidden;*/
      color: #000;
      padding: 0;
      text-align: center;
      margin: 0;
      padding-right: 40px;
     /*transition: 1s;*/
      text-decoration: none;
      /*border:2px solid black;*/
}

/*nav.black ul {
      background: #000;
}*/

nav ul li {
      color:#000;
      margin:0 5px;
      display: inline-block;
      padding: 10px 40px;
      text-decoration: none;
      /*border:2px solid red;*/
}

nav ul li a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
      /*border:1px solid blue;*/
}
nav ul li a:hover{
      color:#000;
      font-size:16px;
}


.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #fff;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      /*color: black;*/
      display: none;
}

.homeimage {
      width:100%;
      height:100vh;
      position:fixed;
      /*border:1px solid pink;*/
      /*background: url(../image/ice.jpg) no-repeat;*/
      background-size:100% 100vh;
      margin-top:110px;
      z-index:-1;

}
.antarctica{
      position:relative;
      font-style:bold;
      font-family:Perpetua;
      width:50%;
      text-align: center;
      margin-top:200px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:auto;
      color:#fff;
      font-size:120px;      
}
.imagemessage{
      position:relative;
      font-style:italic;
      font-family:Perpetua;
      width:50%;
      text-align: center;
      margin-top:40px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:auto;
      color:#000;
      font-size:30px;
}

.text{
      font:Gill Sans MT;
      color:#fff;
      font-size:14px;
}
#understand{
      position:absolute;
      display:none;
      width:100%;
      height:100%;
      z-index:-1;
}

#imageone{
      position:absolute;
      width:750px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/mcmurdo.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:250px;
      left:50%;
      margin-left:-500px;
      /*left:250px;*/
}

#adv_title{
      position:absolute;
      left:50%;
      margin-left:200px;
      margin-top:390px;
      font-size:50px;
}

#adv_text{
      position:absolute;
      width:350px;
      height:330px;
      background-color:#3e485299;
      left:50%;
      margin-left:170px;
      margin-top:450px;
      padding:25px;
}

#imagetwo{
      position:absolute;
      width:750px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/penguin.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:900px;
      left:50%;
      margin-left:-230px;
}

#wld_title{
/*      position: absolute;
      left:50%;
      margin-left:-420px;
      margin-top:1100px;*/
      font-size:50px;
      color:#fff;
      text-align: center;

}

#wild_text{
      position: absolute;
      width:350px;
      height:350px;
      background-color:#3e485299;
      left:50%;
      /*text-align:center;*/
      margin-left:-490px;
      margin-top:1050px;
      padding:10px 25px 20px 25px;

}

#imagethree{
      position:absolute;
      width:750px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/Activities.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:1500px;
      left:50%;
      margin-left:-500px;      
}

#hist_title{
      position:absolute;
      left:50%;
      margin-left:250px;
      margin-top:1640px;
      font-size:50px;      
}

#hist_text{
      position:absolute;
      width:330px;
      height:290px;
      background-color:#3e485299;
      left:50%;
      margin-left:190px;
      margin-top:1700px;
      padding:25px;      
}

#imagefour{      
      position:absolute;
      width:750px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/ice.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:2150px;
      left:50%;
      margin-left:-230px;
      margin-bottom:20px;
}

#insp_title{
      font-size:50px;
      color:#fff;
      text-align: center;      
}
#insp_text{
      position: absolute;
      width:350px;
      height:330px;
      background-color:#3e485299;
      left:50%;
      /*text-align:center;*/
      margin-left:-490px;
      margin-top:2300px;
      margin-bottom: 20px;
      padding:10px 25px 20px 25px;      
}

#experience{
      position:relative;
      display:none;
      width:100%;
      z-index:-1;

}

.leftmap{
      position:absolute;
      width:50%;
      height:100vh;
      background-color: red;

      /*background-image:url("experience_map.jpg");*/
}

.rightcontent{
      position:relative;
      width:50%;
      left:50%;
      top:200px;

}
.exp_title{
      font-size:50px;
      margin-left:30px;
}
.exp_image{

      width:500px;
      height:300px;
      margin-left:50px;
      background:url(../image/amundsen.jpg) no-repeat;
      background-size: 100% 100%;

}
.exp_text{
      padding-top:20px;
      padding-left:50px;
      padding-right:150px;
}
/*@media(max-width: 800px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #fff;
      }

      nav.black ul {
            background: #fff;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
            color:black;
            z-index: 1;
      }

      .homeimage{
            width:100%;
            height:100vh;
            background-size:100% auto;
            overflow: hidden;
      }

}*/