body {
/*      margin: 0;
      padding: 0;*/
      width: 100%;
      height:100%;

}

html {
    overflow: scrollbars-vertical; 
    overflow-y: scroll;
}

@font-face{
      font-family:Segoe UI;
      src:url(../fonts/segoeui.ttf);
}
/*.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}*/

.titlefont{
      font-family:'Raleway', sans-serif;
}
#nav{
      width:100%;
      position:fixed;
}
nav {
/*      position: fixed;
      width: 100%;*/
      line-height: 80px;
      text-decoration: none;
      /*border:1px solid green;*/
}

nav ul {
      line-height: 30px;
      list-style: none;
      background: #fff;
      overflow: hidden;
      color: #000;
      padding: 0;
      text-align: center;
      padding-right: 40px;
}

nav ul li {
      color:#000;
      display: inline-block;
      padding: 10px 50px;
      text-decoration: none;
}

nav ul li a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
}
nav ul li a:hover{
      color:#000;
      font-size:16px;
}


.homeimage {
      width:100%;
      height:100vh;
      position:fixed;
      /*background: url(../image/ice.jpg) no-repeat;*/
      background-size:100% 100vh;
      margin-top:110px;
      z-index:-1;

}
.antarctica{
      position:relative;
      font-style:bold;
      font-family: 'Raleway', sans-serif;
      width:50%;
      text-align: center;
      margin-top:200px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:auto;
      color:#fff;
      font-size:120px;      
}
.imagemessage{
      position:relative;
      font-style:italic;
      font-family:'Raleway', sans-serif;
      width:50%;
      text-align: center;
      margin-top:40px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:auto;
      /*color:#fff;*/
      font-size:30px;
}

.text{
      font-family:Segoe UI, sans-serif;
      color:#fff;
      font-size:16px;
}
#understand{
      position:absolute;
      display:none;
      width:100%;
      height:100%;
      z-index:-1;
}

#imageone{
      position:absolute;
      width:850px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/mcmurdo.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:250px;
      left:50%;
      margin-left:-600px;
      /*left:250px;*/
}

#adv_title{
      position:absolute;
      left:50%;
      margin-left:160px;
      margin-top:390px;
      font-size:50px;
}

#adv_text{
      position:absolute;
      width:400px;
      height:330px;
      background-color:#3e485299;
      left:50%;
      margin-left:120px;
      margin-top:450px;
      padding:25px;
}

#imagetwo{
      position:absolute;
      width:850px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/penguin.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:900px;
      left:50%;
      margin-left:-230px;
}

#wld_title{
      font-size:50px;
      color:#fff;
      text-align: center;

}

#wild_text{
      position: absolute;
      width:400px;
      height:380px;
      background-color:#3e485299;
      left:50%;
      /*text-align:center;*/
      margin-left:-490px;
      margin-top:1100px;
      padding:10px 25px 20px 25px;

}

#imagethree{
      position:absolute;
      width:850px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/Activities.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:1580px;
      left:50%;
      margin-left:-600px;      
}

#hist_title{
      position:absolute;
      left:50%;
      margin-left:230px;
      margin-top:1730px;
      font-size:50px;      
}

#hist_text{
      position:absolute;
      width:370px;
      height:320px;
      background-color:#3e485299;
      left:50%;
      margin-left:150px;
      margin-top:1790px;
      padding:25px;      
}

#imagefour{      
      position:absolute;
      width:850px;
      height:450px;
      /*border:1px solid red;*/
      background:url(../image/ice.jpg) no-repeat;
      background-size:100% 100%;
      margin-top:2200px;
      left:50%;
      margin-left:-230px;
      margin-bottom:20px;
}

#insp_title{
      font-size:50px;
      color:#fff;
      text-align: center;      
}
#insp_text{
      position: absolute;
      width:370px;
      height:350px;
      background-color:#3e485299;
      left:50%;
      /*text-align:center;*/
      margin-left:-490px;
      margin-top:2400px;
      margin-bottom: 20px;
      padding:10px 25px 20px 25px;      
}

#experience{
      position:relative;
      display:none;
      width:100%;
      z-index:-1;

}
.left{
      position: fixed;
      width:50%;
      height:100vh;
      /*border:1px red solid;*/
}
.leftmap{
      float:right;
      width:600px;
      height:100vh;
      margin-top:70px;
      /*border:1px solid red;*/
      background-image:url(../image/antarctica.svg);
      background-size:100% 100%;
      z-index: -2;      

}




.rightcontent{
      position:relative;
      width:50%;
      left:50%;
      top:200px;

}
.exp_title{
      width:600px;
      font-size:30px;
      margin-left:50px;
      font-family: 'Raleway', sans-serif;
      text-align:center;
      /*border:1px red solid;*/
}
.exp_image{

      width:600px;
      height:350px;
      /*float:left;*/
      margin-left:50px;
      background:url(../image/amundsen.jpg) no-repeat;
      background-size: 100% 100%;
      /*border:green 1px solid;*/

}
.exp_text{
      width:600px;
      padding-top:20px;
      margin-left:50px;
      font-family:Segoe UI, sans-serif;
      font-size: 18px;
      /*border:blue 1px solid;*/
}
#exp_two, #exp_three, #exp_four{
      margin-top:50px;
      opacity:0.5;
}
#exp_four{
      margin-bottom:300px;
}
.exp_imaget{
      width:600px;
      height:350px;
      margin-left:50px;
      background:url(../image/shackleton.jpg) no-repeat;
      background-size: 100% 100%;      
}

.exp_imageth{
      width:600px;
      height:350px;
      margin-left:50px;
      background:url(../image/paradise_harbor.jpg) no-repeat;
      background-size: 100% 100%;        
}
.exp_imagef{
      width:600px;
      height:350px;
      margin-left:50px;
      background:url(../image/southgeorgia.jpg) no-repeat;
      background-size: 100% 100%;        
}

.travelmap{
      float:right;
      width:600px;
      height:100vh;
      margin-top:70px;
      margin-left:150px;
      background-image:url(../image/shorttravelmap.svg);
      background-size:100% 100%;
      z-index: -2;            
}

#short{      
      position:relative;
      display:none;
      width:100%;
      z-index:-1;
}

.travel_title{
      width:600px;
      font-size:30px;
      margin-left:50px;
      font-family: 'Raleway', sans-serif;
      text-align:center;
      
}
.travel_days{
      width:600px;
      font-size:20px;
      margin-left:50px;
      font-family:'Raleway', sans-serif;
      text-align: center;
}

#long{
      position:relative;
      display:none;
      width:100%;
      margin-bottom:300px;
      z-index:-1; 
}
.travelmap_l{
      float:right;
      width:600px;
      height:100vh;
      margin-top:70px;
      margin-left:150px;
      background-image:url(../image/longtravelmap.svg);
      background-size:100% 100%;
      z-index: -2;            
}
